.detail {
  max-width: 450px;
  background: white;
  margin: 40px auto;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.detail-img {
  width: 80%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.detail h2 {
  font-size: 26px;
  margin-bottom: 10px;
}