<nav class="navbar">
  <div class="nav-title">Personajes Api</div>

  <div class="nav-links">

    <button type="button" routerLink="/rick" routerLinkActive="active" class="nav-btn">
      Rick & Morty
    </button>

    <button type="button" routerLink="/simpsons" routerLinkActive="active" class="nav-btn">
      Simpsons
    </button>

    <button type="button" routerLink="/dragon" routerLinkActive="active" class="nav-btn">
      Dragon Ball
    </button>

  </div>
</nav>

<router-outlet></router-outlet>