.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: #222;
  color: white;
  font-size: 20px;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-btn {
  background: #444;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: 0.25s;
  font-size: 14px;
}

.nav-btn:hover {
  background: #666;
}

.nav-btn.active {
  background: #00c8ff;
  font-weight: bold;
}